@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container img {
    width: 70px;
    margin-right: 20px;
}

.logo-container p {
    font-size: 30px;
}

.nav-items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items-container a {
    text-decoration: none;
    font-size: 25px;
}

.follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    font-weight: 700;
}

/* banner section */
.banner-container {
    margin: 20px auto 0;
    max-width: 1400px;
    display: flex;
    padding: 10px;
}

.banner-text {
    width: 50%;
    text-align: center;
    /* padding-right: 40px; */
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
    height: 100%;
}

.banner-text h2 {
    font-size: 48px;
    font-weight: 600;
}

.banner-text h1 {
    background-image: linear-gradient(to bottom, #F948B2, #8758F1);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 80px;
}

.banner-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-text .one,
.two {
    border-radius: 48px;
    background-color: #F948B2;
    padding: 20px 40px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}

.banner-text .two {
    background-color: #8758F1;
}




/* video section  */

.new-movies{
    display: flex;
    justify-content: space-evenly;
}

.image{
    position: relative;
    width: 300px;
    text-align: center;
    justify-content: center;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay > *{
    transform: translateY(20px);
    transition: transform 0.25s;
}



.image__overlay:hover{
    opacity: 1;
    cursor: pointer;
}
.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title{
    font-size: 20px;
    font-weight: bold;
}





/* features section */
.features {
    max-width: 1400px;
    margin: 50px auto 0;
    display: flex;
}

.features-content {
    align-items: center;
    text-align: center;
    padding-top: 18%;
    width: 50%;
}

.features-title {
    font-size: 48px;
}

.section-description {
    color: gray;
    font-size: 15px;
}

.features-img .cartoon {
    height: 80%;
    width: 90%;
    margin-left: 50px;


}

.extra-img {
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 318.5px;
    height: 365.083px;
    position: relative;
    bottom: 300px;
    right: 100px;
}

/* bonus section starts here */

.our-new-game {
    text-align: center;
}

.our-new-game h2 {
    font-size: 40px;
    color: #8758F1;
}

.our-new-game p {
    color: gray;
}

.review-container {
    max-width: 1400px;
    margin: 30px auto;
    min-height: 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.single-review {
    /* border: 2px solid green; */
    cursor: pointer;
    flex-basis: 250px;
}

.top-review {
    display: flex;
    align-items: center;
}

.single-review img {
    width: 60px;
    height: 60px;
}

.single-review:hover {
    color: #FFF;
    border-radius: 45px;
    font-weight: bolder;
    background-color: #8758F1;
}

/* footer section */

footer{
    max-width: 100%;
    background-color: black;
    min-height: 400px;
}
.footer-one{
    color: white;
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-one p{
    font-size: 25px;
    font-weight: bolder;
}
.footer-one img{
    width: 60px;
    margin-right: 10px
}
.footer-two{
    color: white;
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    text-align: center;
}
.footer-three{
    color: white;
    max-width: 800px;
    margin: 50px auto; 
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    font-size: 20px;
    text-align: center;
    
}
.footer-four{
    color: gray;
    max-width: 800px;
    margin: 50px auto; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    text-align: center;
    
}
.footer-five{
    color: gray;
    max-width: 800px;
    margin: 50px auto; 
    display: grid;
    text-align: center; 
}























/* responsive section */
/* Mobile */
@media screen and (max-width:426px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .nav-items-container a {
        margin-top: 20px;
        font-size: 15px;
    }

    .logo-container img {
        width: 50px;
    }

    /* banner section */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text,
    .banner-img {
        width: 100%;
    }

    .banner-text h2 {
        margin-top: 30px;
        font-size: 28px;
    }

    .banner-text h1 {
        margin-top: 20px;
        font-size: 50px;
    }

    .banner-text p {
        font-size: 15px;
    }

    .banner-text .one,
    .two {
        border-radius: 48px;
        background-color: #F948B2;
        padding: 15px 24px;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-right: 20px;
        cursor: pointer;
    }

    /* banner responsive ends here */


    /* video section */
  
    .new-movies{
        flex-direction: column;
    }





    /* Features section */
    .features {
        flex-direction: column;
    }

    .features-content {
        width: 100%;
    }

    .features-title {
        margin-top: -25px;
        font-size: 35px;
    }

    .section-description {
        margin-bottom: 20px;
        color: gray;
    }

    .features-img .cartoon {
        width: 80%;
    }

    .features-img .extra-img {
        bottom: 100px;
        left: -60px;
    }

    /* review section */
    .our-new-game h2 {
        font-size: 30px;
    }

    .review-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 30px auto;
        gap: 20px;
    }

    .single-review img {
        width: 20px;
        height: 20px;
    }

    .single-review p {
        font-size: 10px;
    }

/* footer section */

    footer{
        max-width: 100%;
        background-color: black;
        min-height: 550px;
    }
    .footer-one{
        color: white;
        max-width: 300px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
    }
    .footer-one p{
        font-size: 25px;
        font-weight: bolder;
    }
    .footer-one img{
        width: 60px;
        margin-right: 20px
    }
    .footer-two{
        color: white;
        max-width: 300px;
        margin: 20px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
    }
    .footer-three{
        color: white;
        max-width: 300px;
        margin: 20px auto; 
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        font-size: 20px;
        gap: 10px;
        text-align: center;
        
    }
    .footer-four{
        color: gray;
        max-width: 300px;
        margin: 20px auto; 
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr); 
        text-align: center;
        
    }
    .footer-five{
        color: gray;
        max-width: 300px;
        margin: 20px auto; 
        display: grid;
        text-align: center; 
    }
    



}



/* Tablet */
@media screen and (min-width:426px) and (max-width:769px) {

    .nav-container,
    .features {
        flex-direction: column;
    }

    .nav-items-container {
        flex-direction: column;
    }

    .logo-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .logo-container img {
        margin-right: -15%;
    }

    .nav-items-container a {
        margin-top: 20px;
    }

    /* banner section */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text,
    .banner-img {
        width: 100%;
    }

    .banner-text h2 {
        font-size: 40px;
    }

    .banner-text h1 {
        margin-top: 25px;
        font-size: 80px;
    }

    .banner-text p {
        margin-top: 15px;
        font-size: 20px;
    }
    /* video section */

    .new-movies{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 40px;
    }
    












    /* features section */

    .features-content {
        width: 100%;
    }

    .features-title {
        margin-top: -15%;
        font-size: 40px;
    }

    .features-img .cartoon {
        width: 80%;
    }

    .features-img .extra-img {
        width: 10%;
    }

    .section-description {
        margin-bottom: 20px;
        color: gray;
    }

    /* review section */
    .review-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }


    /* footer section */

    footer{
        max-width: 100%;
        background-color: black;
    }
    .footer-one{
        color: white;
        max-width: 500px;
        margin: 10px auto;
        display: flex;
        justify-content: center;
    }
    .footer-one p{
        font-size: 25px;
        font-weight: bolder;
    }
    .footer-one img{
        width: 60px;
        margin-right: 20px
    }
    .footer-two{
        color: white;
        max-width: 500px;
        margin: 10px auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        text-align: center;
    }
    .footer-three{
        color: white;
        max-width: 500px;
        margin: 10px auto; 
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        font-size: 20px;
        gap: 10px;
        text-align: center;
        
    }
    .footer-four{
        color: gray;
        max-width: 500px;
        margin: 10px auto; 
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr); 
        text-align: center;
        
    }
    .footer-five{
        color: gray;
        max-width: 500px;
        margin: 10px auto; 
        display: grid;
        text-align: center; 
    }
    


    
}